<tbody th:fragment="itemsTableFragment" id="itemsBody">
    <tr th:each="item : ${list.items}" th:id="'item-' + ${item.id}">
        <td th:text="${item.itemName}" th:classappend="${item.purchased} ? 'crossed' : ''"></td>
        <td th:text="'£' + ${#numbers.formatDecimal(item.itemPrice / 100.0, 1, 'COMMA', 2, 'POINT')}"></td>
        <td>
            <button type="button"
                    th:onclick="'updateItem(' + ${list.id} + ',' + ${item.id} + ',\'toggle\')'"
                    th:text="${item.purchased} ? 'Uncross' : 'Cross off'"></button>
        </td>
        <td>
            <button type="button" th:onclick="'updateItem(' + ${list.id} + ',' + ${item.id} + ',\'move?direction=up\')'">↑</button>
            <button type="button" th:onclick="'updateItem(' + ${list.id} + ',' + ${item.id} + ',\'move?direction=down\')'">↓</button>
            <button type="button" th:onclick="'updateItem(' + ${list.id} + ',' + ${item.id} + ',\'remove\')'">Remove</button>
        </td>
    </tr>
</tbody>
