<div th:fragment="content">
    <div>
        <h1 th:text="'Shopping list: ' + ${list.id} + ' (' + ${@uiFormatter.formatDateTime(list.createdAt)} + ')'"></h1>

        <div>
            <input type="text" id="newItemName" placeholder="Item name" required />
            <input type="number" step="0.01" id="newItemPrice" placeholder="Price" required />
            <button type="button" th:onclick="'addItem(' + ${list.id} + ')'">Add Item</button>
        </div>

        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Purchased</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:replace="shoppingListItems :: itemsTableFragment"></tbody>
        </table>

        <p>Total: <span id="total"></span></p>
    </div>

    <style>
        .crossed { text-decoration: line-through; color: gray; }
    </style>

    <script>
        updateTotal();
    </script>
</div>